/*radial-gradient(circle, lighten($blue, 5) 0%, darken($blue, 10) 100%);*/
a {
  text-decoration: none;
  color: black;
  font-family: roboto;
}

.margin-bottom {
  margin-bottom: 40px;
}

.padding-bottom {
  padding-bottom: 40px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}
.regular-heart {
  opacity: 1;
  margin: 0px;
  margin-right: -79px;
  transition: opacity 0.1s ease-in;
}
.regular-heart:hover {
  opacity: 0;
}
.regular-heart:hover.solid-heart {
  opacity: 1;
}

.solid-heart {
  opacity: 0;
  margin: 0px;
  font-size: 110%;
  transition: all 0.4s ease-in-out;
  transform: scale(1);
}
.solid-heart:hover {
  opacity: 1;
  transform: scale(1.1);
}

.header__logo {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}
.header__logo img {
  width: 100%;
}

.location-panel {
  display: flex;
  background-color: lightgrey;
  height: 70px;
  margin-bottom: 0px;
}
.location-panel p {
  margin: auto;
}
.location-panel p label {
  font-size: 30px;
  margin-left: 40px;
  margin-right: 10px;
}
.location-panel input {
  margin-left: 0px;
  padding-left: 20px;
  font-family: roboto;
  font-size: 22px;
  font-weight: bold;
  border: none;
  background-color: lightgrey;
}

.header-menu {
  display: flex;
  align-items: center;
}
.header-menu i {
  font-size: 30px;
  margin-left: 20px;
  margin-right: -20px;
}

.figure-menu {
  width: 100%;
  margin: 0px;
}
.figure-menu img {
  height: 400px;
  object-fit: cover;
  width: 100%;
  z-index: -1;
  position: relative;
}

.Navigation-menu {
  background-color: #ededed;
  height: 400px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Navigation-menu h1 {
  margin-top: -10px;
  font-family: roboto;
  font-size: 33px;
  width: 65%;
  text-align: center;
}
.Navigation-menu p {
  width: 80%;
  text-align: center;
  font-size: 22px;
}
.Navigation-menu__texte {
  margin-top: 0px;
  margin-bottom: 40px;
}
.Navigation-menu a {
  text-decoration: none;
  color: white;
  background-color: #9356dc;
  padding: 25px;
  font-family: roboto;
  font-weight: bold;
  border-radius: 40px;
  transition: all 0.25s ease-out;
}
.Navigation-menu a:hover {
  background-color: #6023a9;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
}

.Fonctionnement {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.Fonctionnement h1 {
  margin-top: 70px;
  font-family: roboto;
  margin-left: 20px;
  font-size: 29px;
}
.Fonctionnement__stepslist {
  display: flex;
  flex-direction: column;
}
.Fonctionnement__steps {
  display: flex;
  margin: 20px;
  margin-left: 50px;
  background-color: #ededed;
  width: 80%;
  height: 80px;
  border-radius: 25px;
  align-items: center;
  transform: scale(1);
}
.Fonctionnement__steps:hover {
  transform: scale(1.02);
  transition: all 0.4s ease-out;
  box-shadow: 2px 2px 15px #ae80e5;
}
.Fonctionnement__steps span {
  background-color: #9356dc;
  padding: 7px 12px;
  border-radius: 20px;
  color: white;
  font-family: roboto;
  font-weight: bold;
  margin-left: -13px;
}
.Fonctionnement__steps i {
  padding: 20px;
  font-size: 22px;
  color: gray;
}
.Fonctionnement__steps i:hover {
  color: #9356dc;
}
.Fonctionnement__steps p {
  font-family: roboto;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}
.Fonctionnement__steps:hover {
  background-color: #e4d5f6;
}

.list {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 1750px;
}
.list__container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.list h1 {
  padding-top: 20px;
  font-family: roboto;
  font-size: 29px;
  margin-bottom: 15px;
}
.list__texte--margin-left {
  margin-left: -60%;
}
.list__restaurant {
  margin: 20px;
  width: 85%;
  height: 360px;
  border-radius: 25px;
  background-color: white;
  transform: scale(1);
}
.list__restaurant:hover {
  transform: scale(1.02);
  transition: all 0.4s ease-out;
  box-shadow: 2px 2px 15px #ae80e5;
}
.list__restaurant--dernier {
  box-shadow: inset 1px 1px 1px 1px #99e2d0;
}
.list__image {
  width: 100%;
}
.list__image img {
  width: 100%;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
  height: 250px;
}
.list__image span {
  padding: 10px;
  background-color: #99e2d0;
  border-radius: 5px;
  position: absolute;
  margin-left: -100px;
  margin-top: 20px;
  color: #278870;
  font-weight: bold;
}
.list__description {
  display: flex;
  justify-content: space-between;
}
.list__description h2,
.list__description p {
  width: 100%;
  padding-left: 20px;
  margin-top: 0px;
}
.list__description h2 {
  margin-bottom: 7px;
  margin-top: 15px;
}
.list__description p {
  font-size: 19px;
}
.list__description i {
  padding: 20px 20px 0 20px;
  font-size: 35px;
}
.list__description i:hover {
  color: #782cd3;
}

@media all and (orientation: landscape) {
  .header__logo {
    width: 30%;
  }

  .Navigation-menu {
    height: 300px;
  }

  .Fonctionnement {
    display: flex;
    flex-direction: column;
  }
  .Fonctionnement h1 {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .Fonctionnement__stepslist {
    display: flex;
    flex-direction: row;
  }

  .list__texte--margin-left {
    margin-left: 0%;
  }

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: auto;
  }
  .list__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .list h1 {
    margin-top: 20px;
    font-size: 40px;
  }
  .list__texte--margin-left {
    margin: auto;
  }
  .list__restaurant {
    width: 40%;
    margin: 40px auto;
  }
}
.footer {
  background-color: #2d2d2d;
  width: 100%;
  height: 250px;
  margin-top: 0px;
}
.footer h1 {
  font-family: shrikhand;
  font-size: 25px;
  color: white;
  padding-top: 30px;
  padding-left: 40px;
}
.footer ul {
  list-style-type: none;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer li {
  font-family: roboto;
  font-size: 20px;
  padding-bottom: 10px;
}
.footer i {
  color: white;
  margin-right: 20px;
}

/* layout for the whole menu */
/* Title for the restaurant plus like button */
.menu {
  background-color: #ededed;
  border-radius: 40px 40px 0 0;
  height: 1450px;
}
.menu__titre {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -80px;
}
.menu__titre h1 {
  font-size: 35px;
  font-family: shrikhand;
}
.menu__titre i {
  font-size: 35px;
  margin-left: -20px;
}
.menu__titre .regular-heart {
  margin-left: 0;
  margin-right: -18px;
}
.menu__titre .solid-heart {
  color: #9356dc;
}
.menu__dishes-list {
  width: 90%;
  margin: auto;
}
.menu h2 {
  font-family: roboto;
  font-size: 22px;
  font-weight: 100;
  margin-left: 10px;
  border-bottom: 4px solid #71d7be;
  width: 13%;
  padding-bottom: 5px;
}
.menu__dishes {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  animation: fadeIn;
  animation-duration: 2s;
}
.menu__delay1 {
  animation-delay: 0.5s;
}
.menu__delay2 {
  animation-delay: 1s;
}
.menu__dish-information {
  padding: 0 10px;
  white-space: nowrap;
}
.menu__dish-information h3 {
  font-size: 21px;
  font-family: roboto;
  margin: 15px 15px 15px 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__dish-information p {
  font-size: 17px;
  font-family: roboto;
  margin: 15px 15px 15px 5px;
  margin-top: -8px;
  text-overflow: ellipsis;
  overflow: auto;
}
.menu__price {
  font-size: 18px;
  font-family: roboto;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.menu__checkbox {
  width: 15%;
  display: none;
  border-radius: 0 15px 15px 0;
  background-color: #99e2d0;
}
.menu__checkbox figure {
  display: flex;
  align-items: center;
}
.menu__checkbox i {
  color: #99e2d0;
  background-color: white;
  font-size: 30px;
  border-radius: 15px;
  margin-left: -20px;
}
.menu__checkbox:hover {
  display: block;
}
.menu__order-button {
  display: flex;
  justify-content: center;
  background-color: #ae80e5;
  width: 50%;
  margin: auto;
  margin-top: 60px;
  border-radius: 40px;
  box-shadow: 2px 2px 2px rgba(2, 2, 0, 0.6);
  transition: all 0.25s ease-out;
}
.menu__order-button:hover {
  background-color: #6023a9;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
}
.menu__order-button p {
  font-size: 25px;
  font-family: roboto;
  color: white;
  font-weight: bold;
  margin: 15px;
}

@media all and (orientation: landscape) {
  .menu {
    margin: auto;
    width: fit-content;
    height: auto;
    padding-bottom: 50px;
  }
  .menu__titre {
    justify-content: space-around;
  }
  .menu__titre h1 {
    padding-top: 5px;
    margin-left: -23%;
  }
  .menu__titre a {
    padding-top: 5px;
    margin-right: -23%;
  }
  .menu__dishes {
    max-height: 150px;
    margin: 10px;
    width: 100%;
    max-width: 415px;
  }
  .menu__dishes-list {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .menu__dishes-list h2 {
    font-size: 150%;
    font-weight: bold;
    margin-top: 5px;
    margin: auto;
    margin-bottom: 5px;
    padding-top: 5px;
    width: 20%;
  }
  .menu__dish-information {
    width: 80%;
    height: 100%;
  }
  .menu__dish-information h3 {
    font-size: 17px;
    height: 30%;
  }
  .menu__dish-information p {
    font-size: 16px;
    height: 30%;
  }
  .menu__starters {
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 30%;
    align-items: center;
    margin: 10px;
  }
  .menu__main-dish {
    width: 45%;
    display: flex;
    flex-direction: column;
    height: 30%;
    align-items: center;
    margin: 10px;
  }
  .menu__desserts {
    width: 45%;
    display: flex;
    margin: auto;
    flex-direction: column;
    height: 30%;
    align-items: center;
    margin: 10px;
  }
}
@media screen and (min-width: 1100px) {
  .menu {
    width: 95%;
  }
  .menu__starters, .menu__main-dish, .menu__desserts {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
