$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$location-panel-color: lightgrey;
$white: white;
$gradient-primary: darken(
  $color: $color-primary,
  $amount: 10%,
);

$darken-transition: 0.4s ease-out;
$box-shadow-transition: 0.2s ease-out;
a {
  text-decoration: none;
  color: black;
  font-family: $text-font;
}
.margin-bottom {
  margin-bottom: 40px;
}
.padding-bottom {
  padding-bottom: 40px;
}

@mixin box-shadow {
  box-shadow: 2px 2px 15px lighten($color: $color-primary, $amount: 10);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1turn);
  }
}
@keyframes loader {
  0% {
    transform: rotate(-0.1turn);
  }
  100% {
    transform: rotate(2.1turn);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
    z-index: 9999;
  }
  to {
    opacity: 0;
    z-index: -1;
  }
}
