.header {
  &__logo {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    img {
      width: 100%;
    }
  }
}
.location-panel {
  display: flex;
  background-color: $location-panel-color;
  height: 70px;
  margin-bottom: 0px;
  p {
    margin: auto;
    font-family: $text-font;

    label {
      font-size: 30px;
      margin-left: 40px;
      margin-right: 10px;
    }
  }
  input {
    margin-left: 0px;
    padding-left: 20px;
    font-family: $text-font;
    font-size: 21px;
    font-weight: 600;
    border: none;
    color: darken($color: $location-panel-color, $amount: 050);
    background-color: $location-panel-color;
  }
}
.header-menu {
  display: flex;
  align-items: center;
  i {
    font-size: 30px;
    margin-left: 20px;
    margin-right: -20px;
  }
}
.figure-menu {
  width: 100%;
  margin: 0px;

  img {
    height: 400px;
    object-fit: cover;
    width: 100%;
    z-index: -1;
    position: relative;
  }
}
@media all and (orientation: landscape) {
  .figure-menu {
    img {
      height: 600px;
    }
  }
}
@media all and (max-width: 390px) {
  .location-panel {
    display: flex;
    flex-direction: row;
    height: 100px;
    p {
    }
    label {
      font-size: 18px;
    }
    input {
      font-size: 20px;
      width: 60%;
    }
  }
}
