.header {
  &__logo {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    img {
      width: 100%;
    }
  }
}
.location-panel {
  display: flex;
  background-color: $location-panel-color;
  height: 70px;
  margin-bottom: 0px;
  i {
    margin: auto;
    margin-right: 0;
  }
  h2 {
    margin: auto;
    margin-left: 25px;
    font-family: $text-font;
    font-size: 22px;
  }
}
.header-menu {
  display: flex;
  align-items: center;
  i {
    font-size: 30px;
    margin-left: 20px;
    margin-right: -20px;
  }
}
.figure-menu {
  width: 100%;
  margin: 0px;
  img {
    width: 100%;
    z-index: -1;
    position: relative;
  }
}
