/* layout for the whole menu */

/* Title for the restaurant plus like button */
.menu {
  background-color: lighten($location-panel-color, 10%);
  border-radius: 40px 40px 0 0;
  height: 1450px;
  &__titre {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -80px;
    h1 {
      font-size: 35px;
      font-family: $Title-font;
    }
    i {
      font-size: 35px;
      margin-left: -20px;
    }
    .regular-heart {
      margin-left: 0;
      margin-right: -18px;
    }
    .solid-heart {
      color: $color-primary;
    }
  }
  &__dishes-list {
    width: 90%;
    margin: auto;
  }
  h2 {
    font-family: $text-font;
    font-size: 22px;
    font-weight: 100;
    margin-left: 10px;
    border-bottom: 4px solid darken($color: $color-tertiary, $amount: 10);
    width: 13%;
    padding-bottom: 5px;
  }
  &__dishes {
    display: flex;
    justify-content: space-between;
    background-color: $white;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    animation: fadeIn;
    animation-duration: 2s;
  }
  &__delay1 {
    animation-delay: 0.5s;
  }
  &__delay2 {
    animation-delay: 1s;
  }
  &__dish-information {
    padding: 0 10px;
    white-space: nowrap;
    h3 {
      font-size: 21px;
      font-family: $text-font;
      margin: 15px 15px 15px 5px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    p {
      font-size: 17px;
      font-family: $text-font;
      margin: 15px 15px 15px 5px;
      margin-top: -8px;
      text-overflow: ellipsis;
      overflow: auto;
    }
  }
  &__price {
    font-size: 18px;
    font-family: $text-font;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  &__checkbox {
    width: 15%;
    display: none;
    border-radius: 0 15px 15px 0;
    background-color: $color-tertiary;
    figure {
      display: flex;
      align-items: center;
    }
    i {
      color: $color-tertiary;
      background-color: $white;
      font-size: 30px;
      border-radius: 15px;
      margin-left: -20px;
    }
    &:hover {
      display: block;
    }
  }
  &__order-button {
    display: flex;
    justify-content: center;
    background-color: lighten($color: $color-primary, $amount: 10);
    width: 50%;
    margin: auto;
    margin-top: 60px;

    border-radius: 40px;

    box-shadow: 2px 2px 2px rgba(2, 2, 0, 0.6);
    transition: all 0.25s ease-out;
    &:hover {
      @include btn;
    }
    p {
      font-size: 25px;
      font-family: $text-font;
      color: $white;
      font-weight: bold;
      margin: 15px;
    }
  }
}
@media all and (orientation: landscape) {
  .menu {
    margin: auto;
    width: fit-content;
    height: auto;
    padding-bottom: 50px;

    &__titre {
      justify-content: space-around;

      h1 {
        padding-top: 5px;
        margin-left: -23%;
      }

      a {
        padding-top: 5px;
        margin-right: -23%;
      }
    }

    &__dishes {
      max-height: 150px;
      margin: 10px;
      width: 100%;
      max-width: 415px;
    }
    &__dishes-list {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      h2 {
        font-size: 150%;
        font-weight: bold;
        margin-top: 5px;
        margin: auto;

        margin-bottom: 5px;
        padding-top: 5px;
        width: 20%;
      }
    }
    &__dish-information {
      width: 80%;
      height: 100%;

      h3 {
        font-size: 17px;
        height: 30%;
      }
      p {
        font-size: 16px;
        height: 30%;
      }
    }
    &__starters {
      width: 45%;
      display: flex;
      flex-direction: column;
      height: 30%;
      align-items: center;
      margin: 10px;
    }
    &__main-dish {
      width: 45%;
      display: flex;
      flex-direction: column;
      height: 30%;
      align-items: center;
      margin: 10px;
    }
    &__desserts {
      width: 45%;
      display: flex;
      margin: auto;
      flex-direction: column;
      height: 30%;
      align-items: center;
      margin: 10px;
    }
  }
}
@media screen and (min-width: 1100px) {
  .menu {
    width: 95%;

    &__starters,
    &__main-dish,
    &__desserts {
      width: 30%;
    }
  }
}
