/* layout for the whole menu */

/* Title for the restaurant plus like button */
.menu {
  background-color: lighten($location-panel-color, 10%);
  border-radius: 40px 40px 0 0;
  height: 1450px;
  margin-bottom: -20px;
  &__titre {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: -80px;
    align-items: center;
    h3 {
      font-size: 35px;
      font-family: $Title-font;
      margin-left: 5%;
    }
    a {
      align-items: center;
      margin-right: 40px;
    }
    i {
      font-size: 35px;
      margin-right: 5%;
      margin: 0px;
    }
    .regular-heart {
      margin: 0px;
      margin-right: -40px;
    }
    /*  heart filled gradient integration*/
    .solid-heart {
      background-image: $gradient-tertiary;
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      margin: 0px;
    }
  }
  &__dishes-list {
    width: 90%;
    margin: auto;
  }
  h2 {
    font-family: $text-font;
    font-size: 22px;
    font-weight: 100;
    margin-left: 10px;
    border-bottom: 4px solid darken($color: $color-tertiary, $amount: 10);
    width: 13%;
    padding-bottom: 5px;
  }
  &__dishes {
    display: flex;

    background-color: $white;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    animation: fadeIn 2s ease 0s 1 both;
    animation-duration: 2s;
    overflow: hidden;
    justify-content: space-between;
    transition: all 0.3s ease-out;
    &:hover {
      box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.6);
      cursor: pointer;
    }
    &:hover .menu__checkbox {
      margin-right: 0px;
      transition: all 0.3s ease-out;
    }
    &:hover figure i {
      animation: rotate-right 0.3s ease-in 0s 1 both;
    }
  }
  /* delay for animations  */
  &__delay1 {
    animation-delay: 0.4s;
  }
  &__delay2 {
    animation-delay: 0.8s;
  }
  &__dish-information {
    padding: 0 10px;
    flex-direction: column;
    min-width: 20%;
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    h3 {
      font-size: 21px;
      font-family: $text-font;
      margin: 15px 15px 15px 5px;
      text-overflow: ellipsis;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
    }
    p {
      font-size: 17px;
      font-family: $text-font;
      margin: 15px 15px 15px 5px;
      margin-top: -8px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  aside {
    display: flex;
    transition: all 0.5s ease-out;
  }
  &__price {
    font-size: 18px;
    font-family: $text-font;
    font-weight: bold;
    display: flex;
    align-items: center;
    min-width: 45px;
    padding-left: 10px;
    margin-right: 0px;
  }
  &__checkbox {
    width: 80px;
    border-radius: 0 15px 15px 0;
    background-color: $color-tertiary;
    justify-content: center;
    margin-right: -80px;

    margin-left: 0px;

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    i {
      color: $color-tertiary;
      background-color: $white;
      font-size: 35px;
      border-radius: 20px;
      margin-left: 0px;
      margin-top: 10px;
    }
  }
  &__order-button {
    display: flex;
    justify-content: center;
    background: $gradient-primary;
    width: 50%;
    margin: auto;
    margin-top: 60px;
    border-radius: 40px;
    box-shadow: 2px 2px 2px rgba(2, 2, 0, 0.6);
    transition: all 0.2s ease-out;
    z-index: 1;
    position: relative;
    &:hover {
      box-shadow: 7px 5px 5px rgba(2, 2, 0, 0.6);
      &::after {
        opacity: 1;
      }
    }

    /* pseudo-element use for animation with opacity  */
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: darken($color: $color-secondary, $amount: 20);
      opacity: 0;
      z-index: -1;
      transition: opacity 0.4s ease-out;
      border-radius: 40px;
    }
    p {
      font-size: 25px;
      font-family: $text-font;
      color: $white;
      font-weight: bold;
      margin: 15px;
    }
  }
}
/* media queries for landscape orientation screens  */
@media all and (orientation: landscape) {
  .menu {
    margin: auto;
    width: fit-content;
    height: auto;
    padding-bottom: 50px;
    &__dishes {
      max-height: 150px;
      margin: 10px;
      width: 100%;
      max-width: 415px;
    }
    &__checkbox figure i {
      margin-top: 5px;
    }
    &__dishes-list {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      h2 {
        font-size: 150%;
        font-weight: bold;
        margin-top: 5px;
        margin: auto;

        margin-bottom: 5px;
        padding-top: 5px;
        width: 20%;
      }
    }
    &__dish-information {
      width: 80%;
      height: 100%;

      h3 {
        font-size: 17px;
        height: 30%;
      }
      p {
        font-size: 16px;
        height: 30%;
      }
    }
    &__starters {
      width: 45%;
      display: flex;
      flex-direction: column;
      height: 30%;
      align-items: center;
      margin: 10px;
    }
    &__main-dish {
      width: 45%;
      display: flex;
      flex-direction: column;
      height: 30%;
      align-items: center;
      margin: 10px;
    }
    &__desserts {
      width: 45%;
      display: flex;
      margin: auto;
      flex-direction: column;
      height: 30%;
      align-items: center;
      margin: 10px;
    }
  }
}
/* in the menu section, special css rules for screen over 1100px */
@media screen and (min-width: 1100px) {
  .menu {
    width: 95%;

    &__starters,
    &__main-dish,
    &__desserts {
      width: 30%;
    }
  }
}

/* in the menu section, special css rules for screen under 390px */
@media (max-width: 390px) {
  .menu {
    &__titre {
      h1 {
        font-size: 20px;
        padding: 10px;
      }
      a {
        padding: 10px;
      }
    }
    &__order-button {
      width: 90%;
    }
    &__dish-information {
      overflow: auto;
      h3 {
        overflow: auto;
        width: fit-content;
      }
      p {
        overflow: auto;
        width: fit-content;
      }
    }
  }
}
